#total {
    background-color: lightblue;
    margin: 2%;
    text-align: center;
    border-radius: 5%;
    box-shadow: 5px 5px 10px grey;
}

.nav-item {
    font-size: x-large;
    margin-left: 5%;
    margin-right: 5%;
}

.nav-link {
    color: red;
}

#Connection {
    display: block;
}

#Inscription {
    display: none;
}

.Form-Connect,
.Form-Register {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

#page-principal {
    background-color: lightblue;
    width: auto;
    height: auto;
    display: none;
}

.bar-haut {
    background-color: gray;
    height: 50px;
}

.bar-img-txt {
    background-color: lightgray;
    width: auto;
    height: 100vh;
    margin-right: 15%;
    margin-left: 15%;
}

.bar-haut-2 {
    background-color: lightslategray;
    height: 50px;
}

.new-post {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    float: left ;
}

.d-flex {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px;
    float: right;
}