body {
    font-family: serif;
    background-image: url(image/mer%20agrandie.jfif);
    width: auto;
}

#titre {
    background: radial-gradient(ellipse at center, aqua, blue);
    width: 50%;
    margin: auto;
    text-align: center;

}

h1 {
    color: red;
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: underline;
}

#img {
    background: radial-gradient(ellipse at center, aqua, blue);
    width: 50%;
    margin: auto;
    text-align: center;
}

h2 {
    color: red;
    font-size: large;
    font-weight: bolder;
    text-align: center;
}

p,
li {
    color: orange;
}

.name {
    font-size: large;
    font-weight: bolder;
}

.container {
    background: radial-gradient(ellipse at center, aqua, blue);
    width: 70%;
    margin: auto;
    box-shadow: 5px 5px 10px #5D5A5A;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#renvoie {
    background: radial-gradient(ellipse at center, aqua, blue);
    margin: auto;
    width: 10%;
    text-align: center;
}

a {
    color: red
}
