body {
    font-family: serif;
    background-image: url(image/mer%20agrandie.jfif);
    width: 100%;
}

#titre {
    background: radial-gradient(ellipse at center, aqua, blue);
    text-align: center;

}

.image {
    background: radial-gradient(ellipse at center, aqua, blue);
    text-align: center;
}

@media screen and (max-width: 940px) {
    #titre {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 10px;
        margin-top: 10px;
        float: left;
    }

    .image {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 10px;
        margin-top: 10px;
        float: left;
    }
}

@media screen and (min-width: 941px) {
    #titre {
        width: 45%;
        margin: 2vh;
        float: right;
    }

    .image {
        width: 45%;
        margin: 2vh;
        float: left;
    }
}

h1 {
    color: red;
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: underline;
}


h2 {
    color: red;
    font-size: large;
    font-weight: bolder;
    text-align: center;
}

p,
li {
    color: orange;
}

.name {
    font-size: large;
    font-weight: bolder;
}

.btn {
    background: radial-gradient(ellipse at center, aqua, blue);
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 1vh;
    margin-top: 1vh;
    box-shadow: 5px 5px 10px #5D5A5A;
    border-radius: 10px;
    text-align: center;
}

.card {
    background: radial-gradient(ellipse at center, aqua, blue);
    margin: 1vh;
}

.alert {
    background: #FF4646;
}

.btn-close {
    float: right;
}

stronk {
    font-size: xx-large;
}

.cookie {
    font-size: xx-small;
}