* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.menu {
    margin: auto;
    text-align: center;
    width: auto;
}

.menu_a,
.menu_b,
.menu_c,
.menu_d {
    padding: 0 10px;
    border: 1px solid blue;
    margin: 1px 0px;
}

@media screen and (max-width: 640px) {

    .menu_a,
    .menu_b,
    .menu_c,
    .menu_d {
        background-color: lightblue;
        float: left;
    }

    .menu_a,
    .menu_b,
    .menu_c {
        width: 100%;
    }

    .menu_d {
        width: 50%;
    }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {

    .menu_a,
    .menu_b,
    .menu_c,
    .menu_d {
        background-color: orange;
        float: left;
    }

    .menu_a,
    .menu_b {
        width: 50%;
    }

    .menu_c,
    .menu_d {
        width: 16.66%;
    }
}

@media screen and (min-width: 1024px) {

    .menu_a,
    .menu_b,
    .menu_c,
    .menu_d {
        background-color: lime;
        float: left;
    }

    .menu_a {
        width: 50%;

    }

    .menu_b {
        width: 25%;

    }

    .menu_c,
    .menu_d {
        width: 8.33%;
    }
}
